# oc-add-ext: {{module_path}}/tests/test_extension.py (py.tests)
import omni.kit.app
import omni.kit.test
[if py.api]

import {{ext_id}}
[end]


class Test{{Name}}(omni.kit.test.AsyncTestCase):
    async def test_extension_enabled(self):
        manager = omni.kit.app.get_app().get_extension_manager()
        self.assertTrue(manager.is_extension_enabled("{{ext_id}}"))
[if py.api]

    async def test_add(self):
        self.assertEqual({{ext_id}}.add(2, 3), 5)
[end]
